# Logs
logs
*.log
npm-debug.log*

# Deps
node_modules
dist
dist-ssr
.next
out
*.tsbuildinfo

# Env
.env
.env.local
.env.production
next-env.d.ts

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
